/* body {
    background-color: #121420;
    font-family: 'Montserrat', sans-serif; 
    color: #a9a9a9;
} */

body {
    background-color: #e1e4f0be;
    font-family: 'Montserrat', sans-serif; 
    color: #054d73;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 550px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 225px;
    text-align: center;
    border: 6px solid transparent;
    transition: border 0.3s;
    border-radius: 18px;
}

.item.selected {
    border: 6px solid #a40000;
    border-radius: 18px;
}

.item p {
    margin: 0 auto;
    margin-bottom: -20px;
    height: 35px;
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 12px;
}

.item img {
    width: 100%;
    height: auto;
    margin-bottom: -4px;
    border-radius: 12px;
}

button {
    width: 175px; 
    height: 40px; 
    font-size: 18px;
    color: white;
    background-color: #054d73;
    border: none; 
    border-radius: 10px; 
}

.submit-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

#selectAll { 
    background-color: #266528; 
}

.instruction {
    font-size: 16px; 
    max-width: 940px;
    min-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

#network {
    width: 100vw;
    height: 750px;
    /* border: 1px solid rgb(137, 214, 239); */
    margin: 0 auto;
}