<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commander Deck Survey</title>
    <!-- Loads external vis.js library -->
    <script src="https://cdn.jsdelivr.net/npm/vis-network@9.0.4/dist/vis-network.min.js"></script>
    <!-- Link to the external css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <form action="/submit" method="post" id="checkboxForm">
        <div class="container">
            {% for deck in decks %}
                <div class="item" onclick="toggleSelection(this)">
                    <label>
                        <p>{{ deck['commander'] }}</p>
                        <img src="{{ deck['image_url'] }}">
                        <input type="hidden" name="selection" value="">
                        <input type="hidden" name="options" value="{{ deck['commander'] }}">
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="submit-buttons">
            <button type="submit">Submit</button>
            <button type="button" id="selectAll" onclick="selectAllOptions()">Select All</button>
        </div>
    </form>

    <div class="instruction">
        <p>
        Select the commanders that you think play well together or would make for a fun game.
        Unique pairings between commanders are strengthened or weakened based on user selection.
        A single selection can used to represent an "odd man out", and making no selection will not affect pairings.
        </p>
    </div>

    <div id="network"></div>
    
    <!-- Pass graph data as a global variable -->
    <script>
        var graphData = {{ graph | tojson | safe }};
    </script>

    <!-- Link to the external JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>

    <script>
        function selectAllOptions() { 
            const options = document.querySelectorAll('.item'); 
            options.forEach(toggleSelection); 
        } 
        
        function toggleSelection(item) {
            const selectionInput = item.querySelector('input[name="selection"]');
            
            // Toggle the selected class on the div
            item.classList.toggle('selected');
            
            // Toggle the value of the selection input based on selection status
            if (item.classList.contains('selected')) {
                selectionInput.value = item.querySelector('p').innerText;
            } else {
                selectionInput.value = "";
            }
        }
    </script>

    <!-- <script> 

        function selectAllcheckboxes() { 
            const checkboxes = document.querySelectorAll('input[type="checkbox"]'); 
            checkboxes.forEach(checkbox => checkbox.checked = true); 
        } 

        function toggleSelection(item) {
            const selectionInput = item.querySelector('input[name="selection"]');
            
            // Toggle the selected class on the div
            item.classList.toggle('selected');
            
            // Toggle the value of the selection input based on selection status
            if (item.classList.contains('selected')) {
                selectionInput.value = "{{ deck['commander'] }}";
            } else {
                selectionInput.value = "";
            }
        }

    </script> -->

</body>
</html>
